@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 @font-face {
  font-family: 'Reyka FREE';
  src: url('../src/assets/Reyka FREE.otf') format('opentype'),
       url('../src/assets/Reyka FREE.woff') format('woff'),
       url('../src/assets/Reyka FREE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
}

html,
body,
#root,
.app {
  height: 100vh;
  width: 100%;
  font-family: 'Inter', sans-serif;
  @apply text-gray-300 bg-[#090909];
}